<div class="">
    <div class="line">
        <div><strong>name</strong> {{ hero?.name }}</div>
        <div><strong>first trained at</strong>
            <ng-container *ngIf="hero?.firstTraining">
                {{hero!.firstTraining | timeago}}
            </ng-container>
            <ng-container *ngIf="!hero?.firstTraining">
                didn't trined at all
            </ng-container>
        </div>
        <div><strong>Suit colors</strong> {{ hero?.suitColor }}</div>
        <div><strong>Starting power</strong> {{ hero?.startingPower }}</div>
        <div><strong>Current power</strong> {{ hero?.curetPower }}</div>
        <div><strong>Trained today</strong> {{ hero?.trainedTodayTimes }}/5</div>
        <div class="div">
            <strong>train</strong>
            <button mat-flat-button color="primary" [disabled]="hero?.trainedTodayTimes >= 5">
        Train
      </button>
        </div>
    </div>
</div>
