<h1 mat-dialog-title>Add new hero</h1>
<div mat-dialog-content>
    <form>

        <mat-form-field appearance="fill">
            <mat-label>Heros name</mat-label>
            <input matInput placeholder="Placeholder">
        </mat-form-field>
        <mat-form-field appearance="fill">
            <mat-label>Suit colors</mat-label>
            <input matInput>
        </mat-form-field>
        <mat-form-field appearance="fill">
            <mat-label>Power</mat-label>
            <input matInput>
        </mat-form-field>
        <button mat-raised-button color="primary">Create new hero</button>

    </form>


</div>
<div mat-dialog-actions>
    <button mat-button mat-dialog-close>close</button>
</div>