<div class="form-wrap">
    <form (ngSubmit)="login()" #loginForm="ngForm" action="">
        <p>
            <mat-form-field appearance="fill">
                <mat-label>Username</mat-label>
                <input required matInput [(ngModel)]="model.username" name="username">
                <mat-icon matSuffix>account_circle</mat-icon>
            </mat-form-field>
        </p>
        <p>
            <mat-form-field appearance="fill">
                <mat-label>Password</mat-label>
                <input required matInput type="password" [(ngModel)]="model.password" name="password">
                <mat-icon matSuffix>lock</mat-icon>

            </mat-form-field>
        </p>
        <mat-error *ngIf="failedTry">
            Wrong username or password
        </mat-error>
        <button mat-raised-button color="primary" type="submit">Login</button>
        <button type="button" mat-button color="primary" routerLink="/register">Register</button>


    </form>
</div>